* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}


body {
    padding: 0 1rem;
    background-color: #fab964;
    overflow-x: auto;
}

header {
    background-image: linear-gradient(#ffeb3a, #fdfb76, #fdfb76, #ffeb3a);
    margin: auto -16px;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 5rem;
}

header h1 {
    margin-left: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "McLaren", cursive;
    font-weight: 200;
}


form {
    position: relative;
    width: 30rem;
    margin: 2rem auto 1.25rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    resize: none;
  }
  
  form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  
  form.create-note input,
  form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  
  form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: black;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }
  